@model GoodCompanyMVC.Models.Application

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="CompanyId" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="UserProfileId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            @**** How to display Application.Company.Name? *@
            <div class="form-group">
                <label asp-for="Company.Name" class="control-label"></label>
                <input asp-for="Company.Name" class="form-control" />
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NextAction" class="control-label"></label>
                <input asp-for="NextAction" class="form-control" />
                <span asp-validation-for="NextAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextActionDue" class="control-label"></label>
                <input asp-for="NextActionDue" class="form-control" />
                <span asp-validation-for="NextActionDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateListed" class="control-label"></label>
                <input asp-for="DateListed" class="form-control" />
                <span asp-validation-for="DateListed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryRangeLow" class="control-label"></label>
                <input asp-for="SalaryRangeLow" class="form-control" />
                <span asp-validation-for="SalaryRangeLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryRangeHigh" class="control-label"></label>
                <input asp-for="SalaryRangeHigh" class="form-control" />
                <span asp-validation-for="SalaryRangeHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullBenefits" class="control-label"></label>
                <input asp-for="FullBenefits" class="form-control" />
                <span asp-validation-for="FullBenefits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateApplied" class="control-label"></label>
                <input asp-for="DateApplied" class="form-control" />
                <span asp-validation-for="DateApplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
