@model GoodCompanyMVC.Models.UserProfile
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Good Company</h1>
    <br />
    <p class="display-4">Add a @Html.ActionLink("new company", "Create", "Company") to your company collection.</p>
    <p></p>
    <p class="display-4">Add a @Html.ActionLink("new application", "Create", "Application") to your Application Tracker.</p>
</div>

