@model GoodCompanyMVC.Models.UserProfile
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="text-sm-left">Add a @Html.ActionLink("new company", "Create", "Company") to your company collection       </p>
    <p class="text-sm-left">Add a @Html.ActionLink("new application", "Create", "Application") to your Application Tracker</p>
    <br />
    <a href="/Application/UserIndex"> <img src="~/assets/logo.png" alt="logo"></a>
</div>
